AuthUserFile /data/180502_E00401.B.Project_Placeholder-gDNA10-2018-03-16/.htpasswd
AuthGroupFile /dev/null
AuthName ByPassword
AuthType Basic

<Limit GET>
require user placeholder-gdna10
</Limit>
        